@using LeafletProject.Controllers;
@model USData

    <style>
    #attrForm {
        display: none;
        cursor: pointer;
        user-select: none;
        top: 200px;
        left: 42.5%;
        position: fixed;
        width: 350px;
        height: 120px;
        z-index: 1000;
        background-color: whitesmoke;
        border: 1px solid grey;
        border-radius: 5px;        
    }
   

    #btnAsena {
        border-radius: 5px;
        bottom:12.82px;
        width:100px;
        position:relative;
        left:245px;
    }
    </style>
<div id="attrForm">
    <table id="attributeTable" class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Erkek Sayısı</th>
                <th scope="col">Kadın Sayısı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@Model.MALE</td>
                <td>@Model.FEMALE</td>
            </tr>
        </tbody>
    </table>
    <button class="btn-danger" type="button" name="attrClose" id="btnAsena">Kapat</button>
</div>
   <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
      
<script>
    $(function () {
        $('#btnAsena').click(function () {
            $('#attrForm').hide();
        })
    })
</script>