html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
#btn-draw{
    width:270px
}
.editpanel-btn{
    display:block;
    margin:2px;
    
}
#edit-panel {
    left:50px;
    padding: 50px 0px 0px 40%;
    width: auto;
    z-index: 1000;
    position: fixed;
}

#left-panel {
    height: 250px;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#map {
    float: left;
    width: 100%;
    height: 100vh;
    transition: width 0.3s ease; 
}
.leftpanel-btn.hidden{
    width: 0;
}

#btn-toggle {
    background-color: #F8F9FA;
    border-color: #0E6EFD;
    border-radius: 3px 4px;
    color: black;

}
#btn-opengeojson {
    overflow:hidden;
}

#layer-panel {
    height: 145px;
    width: 160px;
    position: fixed;
    top: 800px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display:block;
}
#layer-panel.hidden{
    display:none;
}
.form-check-label{
    user-select:none;
}
#attrForm {
    display:none;
    cursor: pointer;
    user-select: none;
    top: 200px;
    left: 42.5%;
    position: fixed;
    width: 350px;
    height: 400px;
    z-index: 1000;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 20px;
}
#attributeTable {
    cursor: default;
    background-color: aliceblue;
    top: 50px;
    border: 1px solid grey;
}
#attrForm button{
  
    border-radius:5px;
    position:inherit;
    float:right;
}
#attrSubmit {
    display:none;
    top: 350px;
    left: 210px;
}
#attrClose {
    top: 350px;
    left: 280px;
}