html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#left-panel {
    position: fixed;
    float: left;
    height: 100vh;
    width: 10%;
    transition: width 0.3s ease; /* Genişlik değişimini animasyonlu hale getiriyoruz */
}

#map {
    float: right;
    width: 90%;
    height: 100vh;
    transition: width 0.3s ease; /* Genişlik değişimini animasyonlu hale getiriyoruz */
}

#btn-toggle {
    background-color: #F8F9FA;
    border-color: #0E6EFD;
    border-radius: 3px 4px;
    color: black;
}
