html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
#btn-draw{
    width:270px
}
#left-panel {
    height: 250px;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#map {
    float: left;
    width: 100%;
    height: 100vh;
    transition: width 0.3s ease; 
}
.leftpanel-btn.hidden{
    width: 0;
}

#btn-toggle {
    background-color: #F8F9FA;
    border-color: #0E6EFD;
    border-radius: 3px 4px;
    color: black;

}
#btn-opengeojson {
    overflow:hidden;
}