html {
    font-size: 14px;
    user-select: none;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#btn-draw {
    width: 270px
}

.editpanel-btn {
    display: block;
    margin: 2px;
}

#edit-panel {
    left: 50px;
    padding: 50px 0px 0px 40%;
    width: auto;
    z-index: 1000;
    position: fixed;
}

#left-panel {
    height: 250px;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#map {
    float: left;
    width: 100%;
    height: 100vh;
    transition: width 0.3s ease;
}

.leftpanel-btn.hidden {
    width: 0;
}

#btn-toggle {
    background-color: #F8F9FA;
    border-color: #0E6EFD;
    border-radius: 3px 4px;
    color: black;
}

#btn-opengeojson {
    overflow: hidden;
}
#userDropdown{
}
#layer-panel {
    background-color: #212529;
    opacity: 0.8;
    height: 145px;
    width: 160px;
    position: fixed;
    top: 800px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
}

    #layer-panel.hidden {
        display: none;
    }

.form-check-label {
    user-select: none;
}

#top-panel {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid grey;
    opacity: 0.75;
    float: none;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    float: left;
}

#topTitle {
}

#user {
    color: black;
}

#rigtpanel-Layerlist {
    display: none;
    position: fixed;
    right: 0;
    top: 35px;
    z-index: 1000;
    background-color: #212529;
    opacity: 0.75;
    user-select: none;
    height: 100vh;
}

#layerList-Toggler {
    z-index: 1000;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: black;
    opacity: 1;
    width: 280px;
    height: 30px;
    border-radius: 5px;
} 
.layerList-Titles{
    color:white;
    display:flex;
    justify-content:center;
}
#rigtpanel-Layerlist a {
}

#layerList{
    display:inline-block;
    position:relative;
    top:450px;
    right:0;
}
#layerList a:hover{
    background-color: grey;
}

.drawItems {
    height: 50px;
    justify-content: space-between;
    background-color: #212529;
    margin-bottom: 30px;
}

    .drawItems button {
        position: relative;
        left: 8px;
        width: 50px;
        height: 50px;
        display: inline-block;
        justify-content: space-between;
        background-color: #212529;
        border: 1px solid grey;
    }

        .drawItems button:hover {
            background-color: grey;
        }

    .drawItems i {
        color: #ffffff;
    }

.calcItems {
    height: 50px;
    justify-content: space-between;
    background-color: #212529;
    margin-bottom: 30px;
}

    .calcItems button {
        position: relative;
        left: 8px;
        width: 50px;
        height: 50px;
        display: inline-block;
        justify-content: space-between;
        background-color: #212529;
        border: 1px solid grey;
    }

        .calcItems button:hover {
            background-color: grey;
        }

    .calcItems i {
        color: #ffffff;
    }

#user {
    cursor: pointer;
}

    #user:hover {
        background-color:none;
    }
